body{
	background: url(https://github.com/GanxtaMo/Udemy-Course/blob/master/luna%2Bannika.jpg) no-repeat center fixed;
	background-size: cover;


}

h1 {
	color:#f7e6ff;
}
h3{
	color:#f7e6ff;
}

#centerContent{
	text-align: center;
	padding-top: 25%;
}